# Version Control
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Node
node_modules/
npm-debug.log
yarn-error.log

# Data (Mounted via volumes)
data/
*.db

# Logs
logs/

# Output
output/

# IDE
.vscode/
.idea/
.DS_Store
